* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #C04848;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   background-size: auto 100vh;
   height: 100vh;
   font-family: 'Source Code Pro', monospace;
    font-size:12px;
}
   /* se a tela tiver pelo menos 400 pixels px vai carregar esses estilos*/
  @media (min-width: 400px) {
     body{
       font-size: 14px;
     }
   }

   /*breakpoint*/
   @media (min-width: 600px) {
     body{
       font-size: 18px;
     }
   }

   /*breakpoint*/
   @media (min-width: 1200px) {
    body{
      font-size: 20px;
    }
  }

   header{
     height: 100vh;
     display:flex;
     justify-content: center;
     align-items: center;
   }
   
   .menu{
     background-color: white;
     position: fixed;
     width: 100vw;
     top:0;
     z-index:1;
   }
   
   .menu ul {
     display: flex;
     justify-content: space-around;
   }
   
   .menu li{
     list-style: none;
   }

   .menu a {
     display: block;
     padding: 10px 20px;
     transition: background-color 5s, color 2s;
    }
    
    .menu a:active,
    .menu a:hover{
      background-color:rgba(94, 9, 49, 0.966);
      color: whitesmoke;
    }


   a {
     color:rgba(94, 9, 49, 0.966);
     text-decoration: none;
   }
   
   a:hover {
     text-decoration: underline;
   }
   
   .site-subtitle,
   .site-title {
     color: whitesmoke;
     text-align: center;
   }

   .site-title {
     font-size: 4em;
     font-family: 'Kalam', cursive;
   }
   
   .site-subtitle {
     font-style: italic;
     font-family: 'Roboto Mono', monospace;
     line-height: 2.4em;
     
   }

.home,
.sobre,
.contato,
.portifolio {
  padding: 2em;
  min-height: 100vh;
  font-family: 'Balsamiq Sans', cursive;
  
}

@media (min-width: 1200px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portifolio h2 {
  font-family: 'Balsamiq Sans', cursive;
  color: beige;
  margin-bottom: 0.5em;
  font-size: 2.8em;
}

.sobre p{
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.3em;
  text-align: justify;
  font-family: 'Roboto Mono', monospace;
}

.sobre a {
  color: white;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: rgb(184, 116, 127);
  color: rgb(105, 19, 105);
  text-decoration: none;
}

.sobre .avatar{
  float: right;
  margin-left: 2em;
  
}

.sobre .avatar img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
}

.portifolio .grid {
  display: grid;
  gap: 3em;
   
 }

}
 
@media (min-width: 560px) {
  .portifolio .grid {
  grid-template-columns: 240px 240px;
    
  }
}

@media (min-width: 880px) {
  .portifolio .grid {
  grid-template-columns: repeat(3, 260px);
  align-content: center;
  justify-content: center;
  height: calc(100vh - 8em - 48px);
  }
}

.portifolio figure{
    text-align: center;
    color: whitesmoke
    

}

   .img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 0.2em;
    transition: transform 500ms;
    }

  .img-portfolio:hover {
    transform: scale(1.2);
  } 

  .flip-card {
    perspective: 500px;
  }

  .card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;
    height: 180px;
    width: 100%;
  
  }

  .flip-card:hover .card{
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
    left: 0;
    position:absolute;
    top: 0;
  } 
  
  .card-back{
    background-color: rosybrown;
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);

  }
  

  .contato .icons{
    text-align: center;
    
    
  }

  .contato a {
    color: whitesmoke;
    font-size: 5em;
    transition: text-shadow 1s;
  }

  .contato:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 20px pink ;
  }

  
